@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

img {
  width: 100%;
}

.image-grid {
  z-index: 0;
}

img.loading {
  top: 50%;
  margin-left: 100%;
}

#loginBtn {
  border: none;
  border-color: transparent;
  color: #1976d2;
  background-color: transparent;
  font-size: 15px;
  text-decoration: underline;
}

#signUpBtn {
  border: none;
  border-color: transparent;
  color: #1976d2;
  background-color: transparent;
  font-size: 15px;
  text-decoration: underline;
}

input[type="file"]::file-selector-button {
  border: 2px solid rgb(155, 155, 155);
  margin-left: 11px;
  border-radius: 3px;
  border-width: 1px;
  height: 30px;
  background-color: transparent;
  color: rgb(155, 155, 155);
  transition: 1s;
}

input[type="file"] {
  margin-top: 10px;
  color: rgb(155, 155, 155);
}

input[type="file"]::file-selector-button:hover {
  border-color: #1976d2;
  color: #1976d2;
}